button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.view-button {
  background-color: rgb(28, 25, 54);
  color: #007bff;
}

.edit-button {
  background-color: rgb(28, 53, 99);
  color: rgb(169, 178, 204);
}
.deletee-button {
  background-color: #470505;
  color: #bd1212;
}
