.job-list {
  padding: 35px;
  height: 80vh;
  // width: 200vh;
  background: #2a3042;
  color: #fff;

  .job-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      font-size: 18px;
      margin-left: 290px;
      // font-weight: 600;
    }

    .actions {
      display: flex;
      align-items: center;

      .refresh-button {
        background-color: #32394e;
      }

      .refresh-button > div {
        position: relative;
        left: -5px;
      }
      .options-button {
        background: #10b981;
        color: #fff;
      }
      .add-job-btn {
        margin-left: 10px;
        padding: 10px 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        background: #485ec4;
        &:hover {
          background: #404ada;
          transition: ease-in-out 0.3s;
        }
      }
    }
  }

  .filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
    width: 76%;
    margin-left: 290px;

    select {
      height: 37px;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 10px;
      background-color: #2d3748;
      color: #fff;
      width: 30px;
    }
    input {
      padding: 8px;
      border: 1px solid #697588;
      border-radius: 5px;
      background: #2a3042;
      color: #fff;
      font-size: 14px;
      margin-right: 10px;
      height: 20px;

      &:focus {
        outline: none;
        border-color: #2a3042;
      }
    }

    select {
      width: 100px;
    }

    input {
      flex: 1;
    }
  }

  table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 290px;

    th,
    td {
      padding: 10px;
      text-align: left;
      font-size: 12px;
    }

    th {
      background: #2a3042;
    }

    tbody tr:nth-child(even) {
      background: #2a3042;
    }
  }
}
.refresh-button {
  background-color: #383a50;
  border-radius: 5px;
  height: 35px;
  width: 40px;
}
.options-button {
  background-color: rgb(13, 156, 113);
  height: 35px;
  width: 40px;
  border-radius: 5px;
}
.search-for {
  width: 20px;
}
